vendor/*
wp-config.php
wp-content/ai1wm-backups/*
wp-content/uploads/*
wp-content/smush-webp/*
wp-content/uploads-webpc/*
wp-content/ewww/*
wp-content/litespeed/js/*
wp-content/litespeed/css/*
wp-content/backups-dup-lite/*
wp-content/debug.log
wp-content/upgrade-temp-backup/*
wp-content/aiowps_backups/*
wp-content/themes/mentor/vendor/*

error_log
.idea
.htaccess